:root {
  --primaryOrangeColor: #ff971d;
  --primaryPurpleColor: #8c0aa9;
  --secondaryOrangeColor: #ffec73;
  --secondaryPurpleColor: #4d0180;
  --darkPurpleColor: #1b062e;
  --primaryRedColor: #eb1737;
  --lightGrey: #f5f5f5;
  --darkGrey: #414141;
  --mediumGrey: #9b9b9b;
  --mainWhite: #ffffff;
  --mainBlack: #020202;
  --softBlack: #1c1c1a;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.mainBtn {
  background-color: #4289cc;
  border: 1px solid #2a6297;
  text-transform: capitalize;
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
}

.mainBtn:hover {
  background-color: #2a6297;
}

.errorMessage {
  color: #da3c3c;
}

.mainLink {
  color: var(--primaryOrangeColor);
}

html,
body,
#app,
#app > div {
  width: 100% !important;
  font-family: "Source Sans Pro";
  margin: 0px !important;
  padding: 0px !important;
  height: 100% !important;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
